@page
@model AppTeste.Pages.Aneis.DeleteModel

@{
    ViewData["Title"] = "Excluir Anel";
}

<div class="container mt-5">
    <h1 class="text-danger"><i class="fas fa-trash-alt"></i> Excluir Anel</h1>
    <h3 class="text-warning">Tem certeza que deseja excluir este anel?</h3>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <dl class="row bg-light shadow-sm p-4 rounded">
                <dt class="col-sm-4 font-weight-bold">Nome</dt>
                <dd class="col-sm-8">@Model.Ring.Nome</dd>

                <dt class="col-sm-4 font-weight-bold">Poder</dt>
                <dd class="col-sm-8">@Model.Ring.Poder</dd>

                <dt class="col-sm-4 font-weight-bold">Portador</dt>
                <dd class="col-sm-8">@Model.Ring.Portador</dd>

                <dt class="col-sm-4 font-weight-bold">Forjado Por</dt>
                <dd class="col-sm-8">@Model.Ring.ForjadoPor</dd>
            </dl>
        </div>

        <div class="col-md-6 text-center">
            <h5>Imagem do Anel</h5>
            <img src="/img/aneis2.png" alt="Pré-visualização" id="preview-img" class="img-thumbnail w-50 shadow-sm" />
        </div>
    </div>

    <form method="post" class="mt-4">
        <input type="hidden" asp-for="Ring.Id" />

        <div class="d-flex justify-content-between">
            <a asp-page="./Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Cancelar
            </a>
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash"></i> Confirmar Exclusão
            </button>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://kit.fontawesome.com/your-fontawesome-key.js" crossorigin="anonymous"></script>
}
